<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>타로 카드 읽기 서비스</title>
    <!-- Common CSS -->
</head>
<body>
<div th:fragment="header" class="header">
    <a href="/" class="logo">A(ce)K(ing) Tarot</a>
    <div class="menu-container">
        <button class="hamburger" onclick="toggleDropdown()">☰</button>
        <div id="myDropdown" class="dropdown-content">
            <a href="/card/intro">타로 카드 소개</a>
            <a href="/reading">타로 리딩법</a>
        </div>
    </div>
</div>

</body>
</html>