<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>타로 리딩 방법</title>
    <!-- Common CSS -->
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <!-- Common JavaScript -->
    <script th:src="@{/js/common.js}"></script>
</head>
<body>
<div class="content-wrapper">
    <div th:insert="fragments/header :: header"></div>

    <div class="reading-content">
        <h1>타로 리딩 방법</h1>

        <div class="reading-methods">
            <div th:each="reading : ${readings}" class="reading-method">
                <div class="card-count-highlight">
                    <span th:text="${reading.cardCount} + ' 카드'"></span>
                </div>
                <div class="method-details">
                    <div th:each="method : ${reading.methods}" class="method-item">
                        <div class="method-name" th:text="${method.methodName}"></div>
                        <div class="method-description" th:text="${method.description}"></div>
                        <div class="positions-name" th:text="'카드 의미 순서: ' + ${method.positionsName}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>